/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2023, 1:37:37 AM
    Author     : admin
*/

.logoImage > a img {
    width: 100px;
    height: 100px;
}

.backGroundImage {
    max-width: 100%;
    height:auto;
}