/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2023, 1:37:37 AM
    Author     : admin
*/

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

.logoImage > a img {
    width: 60px;
    height: 60px;
}

.backGroundImage {
    max-width: 100%;
    height:auto;
}